body{
    text-align: center;
    font-family:cursive;

}
header{
    /* padding: 30%px; */
}
section{
    color: chartreuse;
}
footer{
    /* margin-top: 35%; */
}

#board{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    gap: 10px;
    justify-content: center;
}
.card{
    background-color: lightpink;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn, #winbtn{
    background-color: lightgreen;
    font-size: large;
    padding :10px;    
    margin-bottom: 10px;
    cursor: pointer;
    font-family: cursive;

}
#btn:hover{
    background-color: lightcoral;
}
.card.flipped {
    background-color: rgb(255, 255, 117) ;/* green when flipped */
    color: white;
    transform: rotateY(180deg);}
.card.matched {
    background-color:lightgreen; /* blue when matched */
    color: white;
    cursor: default;
}
#win{
    display: none;
    position: fixed;
    background-color: white;
    border: 2px solid black;
    padding: 13%;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    



}
#overlay{
    display:none;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;

}